@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900 bg-gray-50 dark:bg-current-bg dark:text-gray-100 transition-colors duration-300;
  }
}